<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/products/logo-rare.png" />
	
	<title>R. Beauty Products</title>
			<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
	<!-- Header -->
<%- include('./partials/header') %>

	<!-- /Header -->
	

	<!-- Banner -->
	<div class="banner">
		<img src="/images/products/rare.jpg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			 <% for( let i = 0; i < 10; i++ ) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href='/products/product/<%= productos[i].id %>'>
							<figure class="product-box_image">
								<img src=<%= productos[i].nombreArchivoImagen %> alt="cafetera moulinex">
							</figure>
							<article class="product-box_data">
								<h2><%= productos[i].nombreProducto %></h2>
								<p><%= productos[i].descripcionProducto %></p>
								<% 
								let idUsuario = productos[i].idUsuario; 
								for (let i = 0; i < usuarios.length; i++) {
									if (usuarios[i].id==idUsuario) {
										let nombreUsuario = usuarios[i].nombreUsuario;
										%>
										<a href="/products/profile/<%= productos[i].idUsuario %>">Usuario: <%= nombreUsuario %></a>
										<%
									}
									
								}
								%>
								<% 
								let id = productos[i].id; 
								console.log(id)
								let comentariosProducto = [] 
								for (let j = 0; j < comentarios.length; j++) {
									if (id == comentarios[j].idProducto) {
										comentariosProducto.push(comentarios[j])
									}
								}
								%>
								<p>Comentarios:<%= comentariosProducto.length %></p>
									
							
								<!-- Show the "ultimos" products -->
							</article>
						</a>
					</section>
				</div>
			 <% } %>
			

		</div>
	</div>

	

<%- include('./partials/footer') %>
</body>	
</html>